<!-- page-header -->
<div class="hero">
    <div class="page-header" >
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-caption">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    <!-- news -->
    <div class="card-section gradient">
        <div class="container">
            <div class="card-block bg-dark mb30">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <!-- section-title -->
                        <div class="section-title mb-0">
                            <h1 class="text-center light-font">Rent A Room</h1>
                            <p class="light-font">It is a cost-effective and reliable online reservations
                                solution that eliminates intermediaries and allows roomiers to sell their
                                inventory directly to the guests.It equips rooms with a responsive
                                booking engine and an advanced booking solution for packages and stay
                                enrichments, transforming it into a real-time sales engine, also
                                offers the option to sell directly through the room's branded pages on social
                                media. </p>
                        </div>
                        <!-- /.section-title -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <section id="footer">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i
                                    class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p><u><a href="#">Rent A Room</a></u> is a Registered Website</p>
                    <p>CopyRight © 2022 Digital All Rights Reserved</p>
                </div>

            </div>
        </div>
    </section>
</div>